{% extends "layout.html" %}

{% block body %}

  <h1>Welcome to Kadunkulkija!</h1>
  <h6>
    Kadunkulkija is an app where you can create plans to visit streets in Helsinki!
  </h6>
  <h6> There are 
    over 4500 streets in Helsinki, so... what a fun way to spend your life visiting them!
  </h6>
  <h4>
    To start planning and visiting, login or sign up!
  </h4>

  <p></p>
  <p></p>
  <p></p>
  <p></p>

{% if has_visited is defined %}
<h2>
  The following users have visited 5 or more streets!
</h2>

<ul>
  {% for user in has_visited %}
  <li>
     Username: {{user.name}}
  </li>
  {% endfor %}
</ul>

{% endif %}

<p></p>
<p></p>
<p></p>
<p></p>



{% endblock %}
