{% extends "layout.html" %}

{% block body %}

  <h1>Welcome to Kadunkulkija!</h1>
  <p style="font-size: 4;"> Kadunkulkija is an app where you can create plans to visit streets in Helsinki! <br>  
    There are 
    over 4500 streets in Helsinki, so... what a fun way to spend your life visiting them!</p>

  <h2>
    To start planning and visiting, <a href= "{{ url_for('auth_login')}}">login</a> or <a href= "{{ url_for('auth_signup') }}">sign up!</a>!
  </h2>

{% if has_visited is defined %}
<h3>
  The following users have visited 5 or more streets!
</h3>

<table class="table">
  {% for user in has_visited %}
  <tr>
    <td>
      {{user.name}}
    </td>
  </tr>
  {% endfor %}
</table>

{% endif %}

{% if many_plans is defined %}
<h3>
  The following streets are part of 1 or more plans!
</h3>

<table class="table">
  {% for street in many_plans %}
  <tr>
    <td>
      {{street.name}}
    </td>
  </tr>
  {% endfor %}
</table>

{% endif %}




{% endblock %}
