{% extends "layout.html" %}

{% block body %}

<p> Give new name for the street </p>

<form method="POST" action="{{ url_for('set_new_name', street_id=street.id) }}">
    <table>
        <tr>
            <td>
            {{ form.newname.label }}
        </td>
        <td>
            {{ form.newname(placeholder=name.data ) }}
        </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Update name"/>
            </td>
        </tr>
    </table>
    
</form>
{% endblock %}
