{% extends "layout.html" %}

{% block body %}

<p> Give new name for the street </p>

<form method="POST" action="{{ url_for('set_new_name', street_id=street.id) }}">
    <div class="form-group">
    <table>
        <tr>
            <td>
            {{ form.newname.label }}
        </td>
        <td>
            {{ form.newname(placeholder=street.name.data ) }}
        </td>
        {% if form.newname.errors %}
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
      {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
  {% endif %} 
    </div>
    </div>
        </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Update name" class="btn btn-outline-success"/>
            </td>
        </tr>
    </table>
    
</form>
{% endblock %}
