{% extends "layout.html" %}

{% block body %}
  <table class="table">
    <tr>
      <th>Street</th>
      <th>District</th>
      {% if current_user.is_authenticated %}
      <th>Edit street name</th>
      <!-- <th>Delete street</th> -->
      {% endif %}
    </tr>
    {% for street in streets %}
    <tr>
      <td>{{ street.name }}</td>
      <td>{{ street.district.name }}</td>
      <td> 
        <form method="GET" action="{{ url_for('edit_street_name', street_id=street.id) }}">
          <input type="submit" value="Edit"/>
        </form>
      </td>
      <!-- <td>
        <form method="POST" action="{{ url_for('delete_street', street_id=street.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td> -->
    </tr>

    {% endfor %}
  </table>
{% endblock %}
