{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('street_form') }}">
  <div class="form-row">
    <div class="form-group col-sm-3">
      <label for="street"> {{ form.name.label }} </label>
    </div>
    <div class="form-group col-sm-3">
      {{ form.name }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-3">
      <label for="district">{{ form.district.label }}</label>
    </div>
    <div class="form-group col-sm-3" class="btn btn-outline-primary">
      {{ form.district }}
    </div>
  </div>
  {% if form.name.errors %}
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
      {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
  {% endif %} 
  <div class="form-group">
    <div class="form-group col-sm-5">
      <input type="submit" value="Add a new street" class="btn btn-outline-primary">
    </div>
    
  </div>
</form>
{% endblock %}
