{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('street_form') }}">
  <div class="form-row">
    <div class="form-group col-sm-3">
      <label for="street"> {{ form.name.label }} </label>
    </div>
    <div class="form-group col-sm-3">
      {{ form.name }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-3">
      <label for="district">{{ form.district.label }}</label>
    </div>
    <div class="form-group col-sm-3">
      {{ form.district }}
    </div>
  </div>
  {% if form.name.errors %}
    {% for error in form.street.error %}
      {{ error }}
    {% endfor %}
  {% endif %} 
  <div class="form-group">
    <div class="form-group col-sm-5">
      <input type="submit" value="Add a new street">
    </div>
    
  </div>
</form>
{% endblock %}
