{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('district_add') }}">
  <table>
    <tr>
      <td>
	{{ form.name.label }}
      </td>
      <td>
	{{ form.name }}
      </td>
      <td>
	<ul>
	  {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
      {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
	  {% endfor %}
	</ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Add a new district" class="btn btn-outline-success"/>
      </td>
    </tr>  
</form>
{% endblock %}

