{% extends "layout.html" %}

{% block body %}

<h2>Here is your plans</h2>

<table>
    <tr>
        <th> Date </th>
        <th> Street </th>
        <th> Completed </th>
    </tr>
    {% for plan in plans %}
      {% if plan.account_id == current_user.id %}
    <tr>
        <td> {{ plan.plandate }}</td>
        <td> {{ plan.street.name }} </td>
        <td> {{ plan.completed }} </td>
        <!-- <td>
            <form method="POST" action="{{ url_for('plan_set_completed', plan_id=plan.id) }}"
        </td> -->
    </tr>
    {% endif %}
    {% endfor %}
</table>

<form method="GET" action="{{ url_for('plan_add') }}"></form>

    <div class="form-group col-sm-5">
        <a href="/myplans/newplan"><input type="button" value="Add new plan"></a>
    </div>
</form>

{% endblock %}
